@font-face {
  font-family: "Muli";
  src: local("Muli Regular"), local("Muli-Regular"), url("../fonts/Muli-Regular.woff2") format("woff2"), url("../fonts/Muli-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muli";
  src: local("Muli Bold"), local("Muli-Bold"), url("../fonts/Muli-Bold.woff2") format("woff2"), url("../fonts/Muli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muli";
  src: local("Muli SemiBold"), local("Muli-SemiBold"), url("../fonts/Muli-SemiBold.woff2") format("woff2"), url("../fonts/Muli-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.42;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
  color: #6f6f6f;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}
.content ul li {
  list-style: disc;
}
.content h1 {
  margin: 0.67em 0;
}
.content h2 {
  margin: 0.83em 0;
}
.content h3 {
  margin: 1em 0;
}
.content h4 {
  margin: 1.33em 0;
}
.content h5 {
  margin: 1.67em 0;
}
.content h5 {
  margin: 2.33em 0;
}
.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.btn {
  background-color: #41adff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: Muli;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  transition: 0.4s;
}
.btn:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #142236;
  transition: 0.3s;
}
.btn:hover:before {
  width: 100%;
}

.title {
  color: #242424;
  font-family: Muli;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub {
  color: #cccccc;
  font-size: 16px;
  font-weight: 400;
}

.top {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #41adff;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 101;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
@media (max-width: 991.98px) {
  .top {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
}
.top.active {
  pointer-events: all;
  opacity: 1;
}
.top svg {
  width: 23px;
  height: 23px;
  fill: #ffffff;
}
@media (max-width: 991.98px) {
  .top svg {
    width: 20px;
    height: 20px;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}
@media (max-width: 767.98px) {
  .header {
    padding-top: 10px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header__mmenu {
  display: none;
  padding: 10px;
  margin: -10px;
}
@media (max-width: 767.98px) {
  .header__mmenu {
    display: block;
    margin-right: auto;
  }
}
.header__mmenu svg {
  display: block;
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
.header__title {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  margin-right: auto;
}
@media screen and (max-width: 767.99px) {
  .header__title {
    display: none;
  }
}
.header__nav {
  margin-right: 100px;
}
@media (max-width: 767.98px) {
  .header__nav {
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 102;
  }
}
.header__nav.open {
  display: block;
}
.header__nav-close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 767.98px) {
  .header__nav-close {
    display: block;
  }
}
.header__nav-close svg {
  pointer-events: none;
  width: 25px;
  height: 25px;
  fill: #ffffff;
}
.header__contacts {
  margin: 0 -10px;
  display: flex;
}
.header__contact {
  padding: 7.5px;
  fill: #ffffff;
  transition: 0.3s;
}
.header__contact:hover {
  fill: #41adff;
}
.header__contact svg {
  width: 20px;
  height: 20px;
  display: block;
}
@media (max-width: 767.98px) {
  .header__contact svg {
    width: 25px;
    height: 25px;
  }
}

.nav {
  display: flex;
  margin: 0 -20px;
}
@media (max-width: 767.98px) {
  .nav {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
}
.nav__item {
  color: #ffffff;
  font-weight: 400;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  padding: 10px 0;
  transition: 0.3s;
}
@media (max-width: 767.98px) {
  .nav__item {
    font-size: 26px;
  }
}
.nav__item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: #41adff;
  transform: translateX(-100%);
  transition: 0.3s;
}
@media (max-width: 991.98px) {
  .nav__item:before {
    display: none;
  }
}
.nav__item:hover {
  color: #41adff;
}
@media (max-width: 991.98px) {
  .nav__item:hover {
    color: #ffffff;
  }
}
.nav__item:hover:before {
  transform: translateX(0);
}

.index__svg-wrap {
  height: 854px;
  background: #142236;
}
.index__svg svg {
  display: block;
}

.begin {
  position: relative;
}
@media (max-width: 767.98px) {
  .begin {
    background-color: #142236;
    padding-top: 70px;
    padding-bottom: 30px;
  }
}
.begin__image {
  display: block;
  width: 100%;
  max-height: 955px;
  height: auto;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .begin__image {
    display: none;
  }
}
.begin__wrap {
  background-size: cover;
  padding-top: 70px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .begin__wrap {
    padding-top: 0;
  }
}
@media (max-width: 767.98px) {
  .begin__wrap {
    position: static;
  }
}
.begin__wrap .container {
  position: relative;
}
.begin__quote {
  width: 430px;
  height: 53px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  position: absolute;
  left: -135px;
  transform: rotate(-90deg);
  transform-origin: left top;
  top: 360px;
}
.begin__quote:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #142236;
  top: -1px;
  left: 50%;
  margin-left: -5px;
}
.begin__quote:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 140px;
  height: 1px;
  left: 50%;
  margin-left: -70px;
  background-color: #142236;
}
.begin__content {
  color: #ffffff;
  font-family: Muli;
  max-width: 560px;
  font-size: 16px;
}
@media (max-width: 1199.98px) {
  .begin__content {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .begin__content {
    max-width: 420px;
    font-size: 12px;
  }
}
.begin__content h2, .begin__content h3, .begin__content h4 {
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .begin__content h2, .begin__content h3, .begin__content h4 {
    margin-bottom: 10px;
  }
}
.begin__content p {
  margin-bottom: 25px;
  font-size: 1em;
  font-weight: 300;
}
.begin__content h2 {
  font-weight: bold;
  line-height: 110%;
  font-size: 2.5em;
}
.begin__content h3 {
  font-weight: 600;
  font-size: 2.125em;
}
.begin__content h4 {
  font-weight: 600;
  font-size: 1.25em;
}
.begin__content a {
  width: 6.875em;
  height: 2.3333333333em;
  font-size: 1.5em;
}
@media (max-width: 1199.98px) {
  .begin__content a {
    width: 140px;
    height: 50px;
  }
}
.begin__content a:before {
  background: #ffffff;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991.98px) {
  .about {
    padding: 60px 0;
  }
}
@media (max-width: 767.98px) {
  .about {
    padding: 40px 0;
  }
}
.about__sub {
  text-align: center;
}
.about__title {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .about__title {
    margin-bottom: 30px;
  }
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 30px;
}
@media (max-width: 767.98px) {
  .about__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767.98px) {
  .about__grid {
    grid-gap: 20px;
  }
}
.about__desc {
  font-size: 16px;
}
.about__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid #cacaca;
}
.about__img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.about__list {
  margin-bottom: 25px;
  counter-reset: li;
}
.about__item {
  display: flex;
  font-size: 18px;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .about__item {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.about__item:before {
  counter-increment: li;
  content: counters(li, "");
  width: 68px;
  height: 68px;
  background-color: #142236;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  margin-right: 30px;
  color: #ffffff;
  font-family: Muli;
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .about__item:before {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 20px;
  }
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__resume {
  width: 165px;
  height: 56px;
  margin-left: auto;
}

.services {
  background-color: #fafafa;
  padding: 50px 0;
  padding-bottom: 70px;
}
@media (max-width: 767.98px) {
  .services {
    padding-bottom: 50px;
  }
}
.services__sub {
  text-align: center;
}
.services__title {
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 991.98px) {
  .services__title {
    margin-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .services__title {
    margin-bottom: 40px;
  }
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left txt" "left image";
  grid-gap: 0 30px;
}
@media (max-width: 991.98px) {
  .services__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "left" "txt";
    grid-gap: 20px;
  }
}
.services__left {
  grid-area: left;
}
.services__txt {
  grid-area: txt;
}
.services__image {
  grid-area: image;
}
.services__desc {
  font-family: Muli;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .services__desc {
    margin-bottom: 30px;
  }
}
.services__item {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .services__item {
    margin-bottom: 25px;
  }
}
.services__item:last-child {
  margin-bottom: 0;
}
.services__content {
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .services__content {
    margin-bottom: 0;
  }
}
.services__img {
  background: #fafafa;
  position: relative;
}
@media (max-width: 767.98px) {
  .services__img {
    margin-bottom: 30px;
  }
}
.services__img:before {
  content: "";
  display: block;
  padding-top: 75.6756756757%;
}
.services svg {
  display: block;
  position: absolute;
  top: -15%;
  bottom: -15%;
  left: -15%;
  right: -15%;
  width: calc(100% + 30%);
  height: calc(100% + 30%);
}
@media (max-width: 991.98px) {
  .services svg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .services svg {
    top: -15%;
    bottom: -15%;
    left: -15%;
    right: -15%;
    width: calc(100% + 30%);
    height: calc(100% + 30%);
  }
}
.services .st0 {
  fill: #fafafa;
}
.services .st1 {
  fill: #3BA0B9;
}
.services .st2 {
  fill: #00559D;
}
.services .st3 {
  fill: #005191;
}
.services .st4 {
  fill: #1580A6;
}
.services .st5 {
  fill: #137BA1;
}
.services .st6 {
  fill: #D5F2F2;
}
.services .st7 {
  fill: #408C6D;
}
.services .st8 {
  fill: #66C590;
}
.services .st9 {
  fill: #5BBD84;
}
.services .st10 {
  fill: none;
  stroke: #E2E88A;
  stroke-miterlimit: 10;
}
.services .st11 {
  fill: #7B685C;
}
.services .st12 {
  clip-path: url(#SVGID_2_);
}
.services .st13 {
  fill: none;
  stroke: #A78066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st14 {
  clip-path: url(#SVGID_2_);
  fill: none;
  stroke: #A78066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st15 {
  fill: #5FDBB7;
}
.services .st16 {
  fill: #5BCCB1;
}
.services .st17 {
  clip-path: url(#SVGID_4_);
}
.services .st18 {
  fill: #9ECFEB;
}
.services .st19 {
  fill: none;
  stroke: #37395E;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.services .st20 {
  fill: none;
  stroke: #CCE2FF;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st21 {
  fill: #A78066;
}
.services .st22 {
  fill: #9C775F;
}
.services .st23 {
  fill: #37395E;
}
.services .st24 {
  fill: #735846;
}
.services .st25 {
  fill: #BA8F72;
}
.services .st26 {
  fill: none;
  stroke: #A78066;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st27 {
  fill: none;
  stroke: #BA8F72;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st28 {
  fill: #CFC9C3;
}
.services .st29 {
  fill: #E0DAD3;
}
.services .st30 {
  fill: #B8B3AD;
}
.services .st31 {
  fill: #3592AB;
}
.services .st32 {
  fill: none;
  stroke: #4499B8;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st33 {
  fill: #76C976;
}
.services .st34 {
  fill: #F1F793;
}
.services .st35 {
  fill: #E2E88A;
}
.services .st36 {
  fill: none;
  stroke: #F1F793;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st37 {
  opacity: 0.35;
  fill: url(#SVGID_5_);
}
.services .st38 {
  fill: #997159;
}
.services .st39 {
  fill: none;
  stroke: #A78066;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.services .st40 {
  fill: #916B55;
}
.services .st41 {
  fill: #EC9034;
}
.services .st42 {
  fill: #EC7B34;
}
.services .st43 {
  fill: #ECA934;
}
.services .st44 {
  fill: #E6E6E6;
}
.services .st45 {
  fill: none;
  stroke: #FFADC1;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st46 {
  clip-path: url(#SVGID_7_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st47 {
  fill: none;
  stroke: #916B55;
  stroke-miterlimit: 10;
}
.services .st48 {
  clip-path: url(#SVGID_9_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st49 {
  fill: none;
  stroke: #F1F793;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st50 {
  fill: none;
  stroke: #ECA934;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st51 {
  fill: #70A5DA;
}
.services .st52 {
  clip-path: url(#SVGID_11_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st53 {
  fill: none;
  stroke: #1580A6;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st54 {
  fill: #EC5C5C;
}
.services .st55 {
  fill: none;
  stroke: #C44D4D;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st56 {
  fill: none;
  stroke: #ECA934;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st57 {
  fill: #D65353;
}
.services .st58 {
  fill: #EFC7B0;
}
.services .st59 {
  fill: #DE5656;
}
.services .st60 {
  fill: #D6B29D;
}
.services .st61 {
  fill: #8A6551;
}
.services .st62 {
  fill: #BD885C;
}
.services .st63 {
  fill: #F2B1A5;
}
.services .st64 {
  fill: #BD9B7D;
}
.services .st65 {
  fill: #423127;
}
.services .st66 {
  fill: none;
  stroke: #FF6B6B;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st67 {
  fill: #E6AA9F;
}
.services .st68 {
  fill: #FFADB2;
}
.services .st69 {
  fill: none;
  stroke: #FFADB2;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st70 {
  fill: #E69CA0;
}
.services .st71 {
  fill: #93C1DB;
}
.services .st72 {
  fill: #77BAE0;
}
.services .st73 {
  fill: #2E304F;
}
.services .st74 {
  fill: none;
  stroke: #C44D4D;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st75 {
  fill: none;
  stroke: #8A6551;
  stroke-width: 0.75;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st76 {
  fill: #F1E193;
}
.services .st77 {
  fill: none;
  stroke: #70A5DA;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st78 {
  clip-path: url(#SVGID_13_);
}
.services .st79 {
  clip-path: url(#SVGID_13_);
  fill: none;
  stroke: #A78066;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st80 {
  clip-path: url(#SVGID_15_);
}
.services .st81 {
  opacity: 0.35;
  fill: url(#SVGID_16_);
}
.services .st82 {
  clip-path: url(#SVGID_18_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st83 {
  clip-path: url(#SVGID_20_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.services .st84 {
  clip-path: url(#SVGID_22_);
  fill: none;
  stroke: #B3896D;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.service {
  display: grid;
  grid-template-columns: 68px 1fr;
  grid-gap: 30px;
  align-items: center;
}
.service__name {
  font-family: Muli;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 5px;
}
.service__img-img {
  display: block;
  width: auto;
  height: auto;
}

.techs {
  background-color: #142236;
  padding: 55px 0;
}
@media (max-width: 767.98px) {
  .techs {
    padding: 20px 0;
  }
}
.techs__slider {
  position: relative;
}
.techs__slide {
  max-width: 178px;
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
.techs__slide:before {
  content: "";
  display: block;
  padding-top: 82.3529411765%;
}
.techs__slide:hover {
  background: rgba(255, 255, 255, 0.15);
}
.techs__slide-img {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.techs__slide-img svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.techs__nav {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: -60px;
  right: -60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}
.techs__arr {
  fill: #ffffff;
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
  transition: 0.3s;
}
.techs__arr:hover {
  opacity: 1;
}
.techs__arr svg {
  width: 20px;
  height: 20px;
}

.portfolio {
  padding: 120px 0;
}
@media (max-width: 991.98px) {
  .portfolio {
    padding: 60px 0;
  }
}
.portfolio__title {
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .portfolio__title {
    margin-bottom: 30px;
  }
}
.portfolio__filter {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .portfolio__filter {
    margin: 0 -5px;
    margin-bottom: 20px;
    width: calc(100% + 10px);
  }
}
.portfolio__swiper {
  overflow: visible;
}
@media (max-width: 767.98px) {
  .portfolio__swiper {
    margin: 0 -5px;
    width: calc(100% + 10px);
    position: relative;
  }
  .portfolio__swiper:before {
    content: "";
    display: block;
    padding-top: calc(150% + 10px);
  }
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media (max-width: 991.98px) {
  .portfolio__grid {
    grid-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
  }
}
.portfolio__item {
  box-sizing: border-box;
  position: relative;
  background: #bcbcbc;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.2);
  flex-shrink: 0;
}
.portfolio__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.portfolio__item:hover .portfolio__links {
  pointer-events: all;
  opacity: 1;
}
@media (max-width: 991.98px) {
  .portfolio__item:hover .portfolio__links {
    pointer-events: none;
    opacity: 0;
  }
}
.portfolio__item.hover .portfolio__links {
  opacity: 1;
}
.portfolio__item.hover .portfolio__link, .portfolio__item.hover .portfolio__view {
  pointer-events: all;
}
.portfolio__item.hidden {
  display: none;
}
.portfolio__img {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}
.portfolio__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.portfolio__links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 34, 54, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.portfolio__link {
  width: 130px;
  height: 40px;
  background-color: #142236;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: 0.3s;
}
.portfolio__link:hover {
  color: #41adff;
}
.portfolio__view {
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: baseline;
  font-family: Muli;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 767.98px) {
  .filter {
    flex-wrap: wrap;
  }
}
.filter__title {
  font-weight: 700;
  color: #41adff;
  margin-right: 30px;
}
@media (max-width: 767.98px) {
  .filter__title {
    margin-right: 15px;
  }
}
.filter__list {
  display: flex;
  align-items: baseline;
  margin: 0 -20px;
}
@media (max-width: 767.98px) {
  .filter__list {
    margin: 0 -5px;
  }
}
.filter__item {
  margin: 0 20px;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 767.98px) {
  .filter__item {
    font-size: 14px;
    margin: 0 5px;
  }
}
.filter__item:hover {
  color: #41adff;
}
.filter__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #41adff;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.filter__item.active {
  color: #6f6f6f;
}
.filter__item.active:before {
  opacity: 1;
}

.feed {
  background-color: #fafafa;
  padding: 120px 0;
}
@media (max-width: 991.98px) {
  .feed {
    padding: 60px 0;
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .feed {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
.feed__grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: "left right";
  grid-gap: 30px;
}
@media (max-width: 991.98px) {
  .feed__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "right" "left";
  }
}
.feed__left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}
.feed__title {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 15px;
}
.feed__title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 68px;
  height: 6px;
  border-radius: 3px;
  background-color: #41adff;
}
.feed__desc {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .feed__desc {
    margin-bottom: 20px;
  }
}
.feed__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.feed__fields {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: "name mail" "msg msg";
  grid-gap: 15px;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .feed__fields {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: "name" "mail" "msg";
  }
}
.feed__name {
  grid-area: name;
}
.feed__mail {
  grid-area: mail;
}
.feed__msg {
  grid-area: msg;
}
.feed__input {
  width: 100%;
  height: 50px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding: 15px;
}
.feed__input_area {
  height: 100%;
  resize: none;
  min-height: 150px;
}
.feed__submit {
  align-self: flex-end;
  width: 165px;
  height: 50px;
  font-size: 18px;
}
.feed__right {
  grid-area: right;
}
@media (max-width: 767.98px) {
  .feed__right {
    margin: 0 -15px;
  }
}

.contacts__top {
  background-color: #41adff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 30px;
}
@media (max-width: 991.98px) {
  .contacts__top {
    padding: 10px;
  }
}
.contacts__img {
  flex-shrink: 0;
  margin-right: 20px;
}
.contacts__img svg {
  width: 70px;
  height: 70px;
  fill: #ffffff;
}
@media (max-width: 991.98px) {
  .contacts__img svg {
    width: 50px;
    height: 50px;
  }
}
.contacts__big {
  color: #fefefe;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts__bottom {
  background-color: #142236;
  display: flex;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 991.98px) {
  .contacts__bottom {
    padding: 20px;
  }
}
@media (max-width: 991.98px) {
  .contacts__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .contacts__list {
    grid-template-columns: 1fr;
  }
}
.contacts__addr {
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .contacts__addr {
    margin-bottom: 0;
  }
}
.contacts__tel {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .contacts__tel {
    margin-bottom: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  fill: #ffffff;
  transition: 0.3s;
}
@media (max-width: 767.98px) {
  .contact {
    font-size: 14px;
  }
}
.contact:hover {
  color: #41adff;
  fill: #41adff;
}
.contact__left {
  flex-shrink: 0;
  width: 36px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .contact__left {
    width: 30px;
    margin-right: 10px;
  }
}
.contact svg {
  display: block;
  max-width: 100%;
}

.banner {
  padding: 60px 0;
  background-color: #142236;
  color: #ffffff;
}
@media (max-width: 991.98px) {
  .banner {
    padding: 30px 0;
  }
}
.banner__flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .banner__flex {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .banner__left {
    margin-bottom: 20px;
    text-align: center;
  }
}
.banner__title {
  font-family: Muli;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
}
@media (max-width: 991.98px) {
  .banner__title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .banner__title {
    font-size: 28px;
  }
}
.banner__resume {
  width: 165px;
  height: 50px;
  font-size: 18px;
}
.banner__resume:before {
  background-color: #ffffff;
}

.footer {
  padding: 40px;
}
@media (max-width: 991.98px) {
  .footer {
    padding: 20px;
  }
}
.footer__copy {
  text-align: center;
  color: #142236;
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
