extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        section.index__begin
            .begin
                +image('images/content/begin/bg.png','begin__image')
                .begin__wrap
                    .container
                        .begin__quote Portfolio

                        .begin__content
                            h3 Hi!
                            h4 I am Mikle Seregin
                            h2 Professional Web-Developer
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                            button(type='button').btn Hire Me



