.btn {
  //border-radius: 3px;
  background-color: $btn;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: $bg;
  font-family: Muli;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  transition: .4s;

  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #142236;
    @include tr;
  }

  &:hover{
    &:before{
      width: 165px;
    }
  }
}