-
    var nav = [
        {
          id: 'home',
          value: 'Home'
        },
        {
          id: 'about',
          value: 'About me'
        },
        {
          id: 'services',
          value: 'Services'
        },
        {
          id: 'portfolio',
          value: 'Portfolio'
        },
        {
          id: 'blog',
          value: 'Blog'
        },
        {
          id: 'contact',
          value: 'Contact me'
        }
    ];