-
    var nav = [
        {
          id: 'home',
          value: 'Home'
        },
        {
          id: 'about',
          value: 'About me'
        },
        {
          id: 'services',
          value: 'Services'
        },
        {
          id: 'portfolio',
          value: 'Portfolio'
        },
        {
          id: 'blog',
          value: 'Blog'
        },
        {
          id: 'contact',
          value: 'Contact me'
        }
    ];

-
    var servicesList = [
        {
            img: 'images/content/services/1.png',
            name: 'Graphic Design',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt '
        },
        {
            img: 'images/content/services/2.png',
            name: 'Graphic Design',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt '
        },
        {
            img: 'images/content/services/3.png',
            name: 'Marketing',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt '
        },
        {
            img: 'images/content/services/4.png',
            name: 'Marketing',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt '
        },

    ];

-
    var portfolioList = [
        {
            type: 'shop',
            img: 'images/portfolio/santehtut/img.jpg',
            thumb: 'images/portfolio/santehtut/img.jpg',
            link: 'https://santehtut.ru/'
        },
        {
            type: 'land',
            img: 'images/portfolio/loft-burger/img.jpg',
            thumb: 'images/portfolio/loft-burger/img.jpg',
            link: 'https://ozimnadius.github.io/burgers.github.io/'
        },
        {
            type: 'corp',
            img: 'images/portfolio/loft-portfolio/img.jpg',
            thumb: 'images/portfolio/loft-portfolio/img.jpg',
            link: '#'
        },

    ];